name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    # --------------------------
    # Backend .NET
    # --------------------------
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    # Cache NuGet packages
    - name: Cache NuGet packages
      uses: actions/cache@v3
      with:
        path: ~/.nuget/packages
        key: nuget-${{ runner.os }}-${{ hashFiles('**/*.csproj') }}
        restore-keys: |
          nuget-${{ runner.os }}-

    - name: Restore .NET packages
      run: dotnet restore backend/TaskManager.API.sln

    - name: Build .NET
      run: dotnet build backend/TaskManager.API.sln --configuration Release --no-restore

    - name: Test .NET
      run: dotnet test backend/TaskManager.API.sln --configuration Release --no-build

    # --------------------------
    # Frontend Angular
    # --------------------------
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    # Cache npm
    - name: Cache npm
      uses: actions/cache@v3
      with:
        path: ~/.npm
        key: npm-${{ runner.os }}-${{ hashFiles('frontend/task-manager-ui/package-lock.json') }}
        restore-keys: |
          npm-${{ runner.os }}-

    - name: Install frontend dependencies
      run: npm ci
      working-directory: frontend/task-manager-ui

    # Install Chromium for headless Karma tests
    - name: Install Chromium
      run: sudo apt-get install -y chromium-browser

    - name: Run frontend tests
      run: npm test -- --watch=false --browsers=ChromeHeadlessNoSandbox
      working-directory: frontend/task-manager-ui

    - name: Build frontend
      run: npm run build
      working-directory: frontend/task-manager-ui
