name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # Backend
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore .NET
      run: dotnet restore backend/TaskManager.API.sln

    - name: Build .NET
      run: dotnet build backend/TaskManager.API.sln --configuration Release --no-restore

    - name: Test .NET
      run: dotnet test backend/TaskManager.API.sln --configuration Release --no-build

    # Frontend
    - uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install frontend dependencies
      run: npm install
      working-directory: frontend/task-manager-ui

    - name: Run frontend tests
      run: npm test -- --watch=false --browsers=ChromeHeadless
      working-directory: frontend/task-manager-ui

    - name: Build frontend
      run: npm run build
      working-directory: frontend/task-manager-ui
